

    <div class="jumbotron">
        <h1>CPA02: Restuarant Finder in New York City </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Use this to find resutaraunts in New York City!
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/restaurants/byBorough"> 
            Show Restaurants by by Borough: 
              <input type="text" name="borough" 
                     placeholder="e.g. Brooklyn">
            <input type="submit">
        </form>
        
        <br>

        <form method="post" action="/restaurants/byCuisine"> 
            Show Restaurants by by Borough: 
              <input type="text" name="cuisine" 
                     placeholder="e.g. Chinese">
            <input type="submit">
        </form>

        <a href="/resList/show">Show your list of restaurants</a>
    <% } %>


